.i {
  display: flex;
  height: 100vh;
}

.i-left {
  flex: 1;
}

.i-left-wrapper {
  padding: 50px;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name {
  font-size: 60px;
}

.i-title {
  height: 50px;
  overflow: hidden;
}

.i-title-wrapper {
  height: 100%;
  animation: move 4s ease-in-out infinite alternate;
}

.i-title-item {
  transition-delay: 4s;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(-50px);
  }
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #a9b68b;
  display: flex;
  align-items: center;
}

.i-right {
  flex: 1;
}
